@using ServidorWeb.Shared
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ServidorWeb.Server</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href='@RutasWeb.PaginasDeEjemplo.Prueba1'>
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter en @nameof(RutasWeb.PaginasDeEjemplo.Prueba1)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@RutasWeb.PaginasDeEjemplo.Prueba2Param(1234)>
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> @nameof(RutasWeb.PaginasDeEjemplo.Prueba2)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@RutasWeb.PaginasDeEjemplo.Weather>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@RutasWeb.PaginasDeEjemplo.Prueba3>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @nameof(RutasWeb.PaginasDeEjemplo.Prueba3);
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href=@RutasWeb.PaginasDeEjemplo.Prueba4>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> @nameof(RutasWeb.PaginasDeEjemplo.Prueba4) MVC;
            </NavLink>
        </div>
    </nav>
</div>